/*INDEX*/

.background-image-index {
    background-image: url("./Images/sea-water-nature-shore-sky-calm-834827-wallhere.com.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.intro-section {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    text-align: center;
    padding: 0 0 40px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.intro-section h1 {
    font-size: 3rem;
}

.intro-section p {
    font-size: 1.2rem;
    display: inline-block;
    text-align: left;
    margin-left: 2rem;
    margin-right: 2rem;
}

.services-section {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    text-align: center;
    padding: 0 0 30px;
    color: black;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.5);
}

.services-section h2 {
    position: relative;
    font-size: 3rem;
    margin-bottom: 50px;
}

.services-section ul {
    list-style: disc;
    padding: 0;
    margin: 0;
    display: inline-block;
    text-align: left;
}

.services-section li {
    margin-bottom: 10px;
    font-size: 1.2rem;
}


/*HEADER*/

.banner {
    background-color: rgba(0, 0, 0, 0.2);
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Barlow Condensed", Arial, sans-serif;
}

.banner ul {
    list-style: none;
    display: flex;
    gap: 40px;
}

.banner ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin: 1rem;
}

.banner img {
    width: 8.7rem;
    max-width: 100%;
    display: inline-block;
    margin-top: 1rem;
}

.social-network img {
    width: 30px;
    display: flex-end;
    margin: 0;
    padding-left: 1rem;
}

@media (max-width: 768px) {
    .banner {
        height: auto;
    }
    .banner ul {
        flex-direction: column;
    }
}


/*FOOTER*/

.bottom-bar {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.219);
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 1rem;
}

.bottom-bar p {
    margin: 0;
    padding: 5px;
    text-align: center;
}


/*HORARIOS*/

.background-image-horarios {
    background-image: url("./Images/playa2.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.title {
    text-align: center;
    color: #fff;
    font-size: 4rem;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.table-gen {
    border: 3px solid #7fbabd;
    border-radius: 10px;
    background-color: rgba(78, 63, 44, 0.541);
    text-align: center;
    width: 80%;
    height: 300px;
    margin-bottom: 7.5rem;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
}

.days {
    font-weight: bold;
    font-size: 3rem;
    color: #fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.schedules {
    font-style: italic;
    color: #fff;
    font-size: 2rem;
}

@media (max-width: 768px) {
    .table-gen {
        width: 50%;
        height: 200px;
        margin-bottom: 7.5rem;
        margin-top: 4rem;
        margin-left: auto;
        margin-right: auto;
    }
    .days {
        font-size: 1.5rem;
    }
    .schedules {
        font-size: 0.8rem;
    }
}


/*CONTACT*/

.background-image-contact {
    background-image: url("./Images/playa3.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

center h1 {
    position: relative;
    color: white;
    background-color: rgba(30, 30, 30, 0.5);
    width: 50%;
    border-radius: 10px;
    top: 1rem;
}

.form {
    width: 50%;
    margin: 10px auto;
    background-color: rgba(30, 30, 30, 0.5);
    padding: 30px;
    border-radius: 5px;
}

.form-check {
    display: inline-block;
    margin-right: 10%;
}

.form h3 {
    color: white;
    font-weight: 500;
    padding: 10px;
    border-radius: 5px;
}

.form label {
    color: white;
    display: inline-block;
    font-weight: bold;
}

.form input,
.form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}

.form button {
    width: 100%;
    background: #3f7a7d;
    color: white;
    padding: 10px;
    border: 0;
}

.form .form-group .form-check-input {
    margin: 0;
    width: 6px;
    text-align: center;
    justify-content: center;
}

.form textarea {
    height: 120px;
}


/*DESTINOS*/

.background-image-destinos {
    background-image: url("./ImageS/playa6.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    justify-content: center;
    margin: 2rem;
}

.card {
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.5s ease;
    box-shadow: 0 5px 15px rgba(85, 67, 44, 0.932);
    color: #ccc;
    text-align: center;
    width: 100%;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 100%;
    height: 370px;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.card:hover img {
    transform: scale(1.1);
}

.caribe {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./wave_transp.png");
    background-repeat: no-repeat;
    background-size: 100%;
    animation: wave 7s ease-in-out infinite;
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
        /* Cambia a una sola columna */
        grid-gap: 1rem;
        /* Ajusta el espacio entre elementos */
    }
}

.contact ul {
    margin-top: 18px;
}

.social-network-contact img {
    width: 2rem;
    display: flex-end;
    margin-bottom: 20px;
    margin-left: 1rem;
}